@import "compass";

@import "variables";

@mixin masked($isArchived: false)
{
    @if $isArchived {
        background-image: image-url("light_tile.png");
    } @else {
        background-image: image-url("tile.png");
    }

    text-shadow: #000 0 1px 2px;
}

@mixin text-stroke($foreground: #fff, $width: 4, $steps: 24)
{
    $rules: ();
    $t: 0;
    $doublePi: 2 * pi();

    @while $t <= $doublePi {
        $xc: $width * cos($t);
        $yc: $width * sin($t);

        $x: $xc;
        $y: $yc;

        @if (abs($xc) < 0.000001) {
            $x: 0;
        }

        @if (abs($yc) < 0.000001) {
            $y: 0;
        }

        $rules: append($rules, unquote($x + "px " + $y + "px 0 " + $foreground), comma);

        $t: $t + ($doublePi / $steps);
    }

    font-weight: bold;
    text-shadow: $rules;
}

@mixin floating-cyber-sky
{
    @include animation(moody-katsuyama 75s linear infinite);

    a
    {
        @include transition(transform 200ms);
        @include transition-timing-function(cubic-bezier(0.475, 0, 0.525, 1));

        &:hover
        {
            @include translate3d(0, -20px, 0);
        }
    }
}
