@import "mixin";

#about
{
    .about, .concept
    {
        [class*="span"] {
            padding: 0;
        }
    }

    .concept
    {
        display: table;
        margin: 0 auto ($margin * 2);

        & > *
        {
            display: table-cell;
            vertical-align: top;
        }

        & > *:first-child
        {
            background: image-url("balloon_l.png") right top no-repeat;

            padding-top: 270px + $margin;
        }

        & > *:last-child
        {
            background: image-url("balloon_r.png") no-repeat;
            width: auto;

            h1
            {
                font-size: $fontSize * 2.2;
                font-weight: bold;
                height: 127px;
                line-height: 127px;
                margin: 0;
                text-shadow: none;
            }

            p
            {
                @include text-stroke($foreground, 2);

                color: contrast-color($foreground);
                line-height: 1.75;
                margin: 0;
            }
        }
    }

    .about
    {
        @include masked;

        border: 2px solid;
        display: table;

        [class*="about"]
        {
            display: table-cell;
            padding: 1em 4em;
            width: 50%;

            &:first-child
            {
                padding-right: 0;
            }

            &:last-child
            {
                padding-left: 0;
            }
        }
    }
}

@media (max-width: 979px)
{
    #about
    {
        .concept
        {
            & > *:first-child
            {
                display: none;
            }

            & > *:last-child
            {
                background-image: none;

                h1
                {
                    background: image-url("balloon.png") center top / 100% 100% no-repeat;
                    overflow: hidden;
                    text-align: center;
                }
            }
        }

        .about
        {
            display: block;

            & > [class*="about"]
            {
                display: block;
                width: 100%;
                padding: 1em;

                &, &:last-child
                {
                    padding: 1em;
                }
            }
        }
    }
}
