@import "compass";

@import "mixin";
@import "colors";
@import "variables";
@import "overwrite";
@import "themes/noon";

@import "menus/*.png";
@import "spoos/*.png";

@include keyframes(moody-katsuyama) {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 1024px 0;
    }
}

body
{
    background: $backgrounds;

    & > footer
    {
        margin-top: 2em;

        nav
        {
            #spoo
            {
                @include floating-cyber-sky;

                background: image-url("building.png") repeat-x;
                height: 117px;

                a
                {
                    @include spoos-sprite(inactive);

                    display: inline-block;
                    width: spoos-sprite-width(inactive);
                    height: spoos-sprite-height(inactive);
                    overflow: hidden;
                    white-space: nowrap;
                    text-indent: spoos-sprite-width(inactive);
                    position: relative;
                    top: 82px;

                    &:hover
                    {
                        @include spoos-sprite(active);
                    }
                }
            }

            #footie_below
            {
                background-color: #000;
            }

            .navigation
            {
                height: 48px;
                padding: 8px 0;
                background: image-url("footer.png") repeat-x;

                & > ul.inline
                {
                    text-align: center;
                    margin: 0;

                    li
                    {
                        padding: 0;
                        line-height: 48px;
                    }

                    li.active
                    {
                        color: $spookyColor;
                    }

                    li:first-child:before
                    {
                        content: "";
                    }

                    li:before
                    {
                        color: $foreground;
                        content: "|";
                    }

                    li, li:before
                    {
                        padding-right: 4px;
                    }
                }
            }

            #blogroll
            {
                .widgettitle
                {
                    font-size: $fontSize;
                    line-height: 1;
                    color: gray;
                }

                ul
                {
                    margin-left: $margin;

                    li
                    {
                        font-size: $smallFontSize;
                    }
                }
            }

            p.attribution
            {
                text-align: right;
                margin-bottom: 0;
                padding-bottom: 1.5em;
            }
        }
    }

    & > header
    {
        background: image-url("header.png") repeat-x left bottom;

        padding-bottom: 8px;

        &.navbar-fixed-top, &.navbar-static-top
        {
            margin-bottom: $margin;

            .navbar-inner
            {
                box-shadow: none;
                background-color: $headerBackground;
                background-image: none;
                filter: none;
                border: 0;

                .nav > li > a
                {
                    color: contrast-color($foreground);

                    &:hover { color: lighten(contrast-color($foreground), 25%); }
                }
            }
        }

        // ロゴ画像が 55px
        // 以下レイアウトを計算して上の padding-bottom を足せば 80px になるように
        // (55 + 12 + 5 + 8)
        &.navbar .brand
        {
            padding: 12px 10px 5px;
        }

        #menu-top-menu
        {
            padding: 10px 0 2px;

            li
            {
                text-align: center;
                padding: 0 5px;
                height: 100%;

                a
                {
                    // active.png - inactive.png = 10px
                    @include menus-sprite(inactive);
                    @include menus-sprite-position(inactive, 50%, 10px);

                    display: inline-block;
                    height: 100%;
                    overflow: hidden;
                    padding-top: 34px; // メニュー画像の高さ…
                }
            }

            li.active
            {
                a
                {
                    @include menus-sprite-position(active, 50%);
                }
            }
        }
    }
}

.masks
{
    @include masked;

    border: 2px solid;
}

.page-header
{
    $experimental-support-for-svg: true;

    background: image-url("page-header-bottom.png") center bottom / 100% 3px no-repeat;
    text-transform: uppercase;
    padding-bottom: 3px;
    border: 0;
    margin: $margin 0 ($margin / 2);

    h1
    {
        @include text-stroke($foreground, 2);

        margin: 0;
        background: image-url("title.png") no-repeat left top;
        line-height: 1;
        color: contrast-color($foreground);
        font-size: 30px;
        font-weight: bold;
        padding-left: 38px;
        padding-top: 3px;
    }
}

.page
{
    [class*="span"]
    {
        box-sizing: border-box;
    }
}

.form-stacked
{
    .btn-primary, .input-append, .input-append input, .btn:last-child
    {
        border-radius: 2px;
    }

    .btn-primary, input
    {
        color: $titlesShadow;
        background: $foreground;
        border: 2px solid $titlesShadow;
    }

    .btn-primary
    {
        background: $titlesShadow image-url("search.png") center no-repeat;
        box-shadow: none;

        overflow: hidden;
        text-indent: 500px;
        width: 48px;
    }
}
