@import "compass/utilities/color/contrast";

@import "variables";
@import "mixin";

#our-banners
{
    display: none;
}

#toppage
{
    .page-header
    {
        margin: 0;
    }

    #posts
    {
        position: relative;
        width: 100%;

        .post
        {
            @include masked;

            border: 2px solid;
            box-sizing: border-box;
            width: 305px;
            margin-top: 10px;
            margin-right: 10px;

            header
            {
                h1
                {
                    font-size: inherit;
                    line-height: inherit;
                }

                .thumbnail
                {
                    padding: 0;
                    border-radius: 0;
                    margin: 7px;
                    border: 0;
                    box-shadow: none;
                    text-align: center;

                    .alternate
                    {
                        background-color: #fff;
                        text-indent: 1400px;
                        border: 1px solid $imagesBorder;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }

                .page-title
                {
                    font-size: 110%;
                    padding: 0 7pt;
                }

                .post-header
                {
                    text-align: center;
                    font-size: 120%;
                    background-color: $spookyColor;
                    padding: 0.4em 0;
                    margin: 0;
                    text-shadow: none;
                }
            }

            .contents
            {
                margin-top: 1em;
                padding: 0 7pt;
                text-shadow: contrast-color($foreground) 0 1px 2px;
                word-break: break-all;
            }

            .more-link
            {
                display: block;
                text-align: right;
                text-transform: uppercase;
            }
        }
    }

    #sidebar2
    {
        li
        {
            padding: ($margin / 2);
        }

        li:first-child
        {
            padding-top: 0;
        }
    }
}

@media (max-width: 979px)
{

    #sidebar2
    {
        margin-top: 1em;

        li
        {
            text-align: center;
        }
    }
    #toppage #posts
    {
        &, .post
        {
            position: static;
        }

        .post
        {
            width: 100%;
        }
    }
}

.no-js #toppage #posts
{
    height: auto;

    &, .post
    {
        position: static;
    }

    .post
    {
        left: auto;
        top: auto;
        width: 100%;
    }
}

@media (min-width: 1200px)
{
    #toppage #posts .post
    {
        width: 250px;
    }
}

// .widget_facebook_likebox iframe[style], .widget_facebook_likebox div[style]
// {
//     height: auto;
// }

// http://wordpress-style.net/facebook-like-box-gets-responsive/
/* This element holds injected scripts inside iframes that in some cases may stretch layouts. So, we're just hiding it. */
#fb-root {
    display: none;
}

/* To fill the container and nothing else */
.widget_facebook_likebox, .widget_facebook_likebox iframe[style] {
    width: 100% !important;
}
