@import "home";
@import "about";
@import "portfolio";
@import "contact";
@import "recruit";


article [class*="span"], main
{
    h1
    {
        @include text-stroke($titlesShadow);

        font-size: 190%;
        line-height: 1.9;
        margin: 0;
    }

    h2, dt
    {
        @include text-stroke(contrast-color($foreground), 2);

        font-size: inherit;

        display: inline;
        font-weight: bold;
        padding: 0 2px;
    }

    h1, h2, h3, h4, p
    {
        margin: 0;
    }

    ul
    {
        margin-left: 35px;
    }

    dd
    {
        text-indent: 35px;

        li
        {
            text-indent: 0;
        }
    }

    dd
    {
        margin-bottom: $margin / 2;
    }
}

@media (max-width: 768px)
{
    article [class*="span"], main
    {
        dd { text-indent: 0; margin: 0 1em 1em; }
        ul { margin: 0; }
    }
}
