@import "compass/css3/box-sizing";
@import "variables";
@import "mixin";

#works
{
    $width: 2px;

    #sidebar
    {
        ul#menu-portfolio
        {
            position: relative;
            color: #fff;
            margin: 0;
            border: 0 solid;
            border-left-width: $width;
            z-index: 256;

            li
            {
                border: $width solid;
                border-left-width: 0;
                margin: 0;
                padding: $fontSize;
                background-color: $tabsBackground;

                &.active
                {
                    border-bottom-color: $tabsBackground;
                }
            }
        }
    }

    main
    {
        @include masked;

        border: 2px solid;

        position: relative;
        top: -$width;

        article
        {
            position: relative;

            &.active header .thumbnail
            {
                display: none;
            }

            header
            {
                $width: 12px;

                background-color: $tabsBackground;
                padding: $width;

                h1
                {
                    font-size: inherit;
                    line-height: 40px;
                    margin: 0;
                    display: inline-block;

                    small
                    {
                        font-size: 80%;
                    }
                }

                h1.attached
                {
                    padding-left: $width + 60px;
                    background: left top / 60px 40px no-repeat;
                    text-shadow: none;
                }
            }

            & > .contents
            {
                &.in
                {
                    margin: 1.2em;
                }

                [class*="pull"]
                {
                    width: 50%;
                }

                .thumbnail
                {
                    background-color: rgba(0, 0, 0, 0.6);
                    border: 0;
                    padding: 8px;
                }

                .description
                {
                    padding-left: 1.2em;
                }
            }

            footer
            {
                position: absolute;
                top: 0;
                right: 0;
                margin: 1em;
                padding: 6px 0;
            }

            & div.pull-right, & div.pull-left
            {
                @include box-sizing(border-box);
            }
        }
    }
}

@media (max-width: 768px)
{
    #works
    {
        main
        {
            article header  h1.attached { background-image: none !important; padding-left: 0; }
            article footer
            {
                display: none;
            }

            .collapse
            {
                height: auto;
            }

            article .contents
            {
                margin: 1.2em;

                [class*="pull"]
                {
                    float: none;
                    width: 100%;
                }

                [class*="pull"]:last-child
                {
                    padding-left: 0;
                }

                [class*="pull"], .description
                {
                    p, ul
                    {
                        margin: 1em 0;

                        &:first-child { margin-top: 0; }
                        &:last-child { margin-bottom: 0; }
                    }
                }
            }
        }
    }
}
