@import "variables";
@import "mixin";

@media (min-width: 979px)
{
    #recruit
    {
        & > main
        {
            & > .row
            {
                $m: $margin / 2;

                border-collapse: separate;
                border-spacing: $m 0;
                margin: $m (-($margin * 2));
                display: table;

                &:first-child { margin-top: 0; }
                &:last-child { margin-bottom: 0; }

                article
                {
                    display: table-cell;
                    width: 50%;
                }
            }
        }
    }
}

#recruit
{
    & > main > .row
    {
        & > article
        {
            @include masked;

            border: 2px solid;
            padding: 0 $margin;
            margin: 0 0 ($margin / 2) $margin;

            & > footer
            {
                @include floating-cyber-sky;

                position: relative;

                a
                {
                    background: image-url("spoo_recruit.png") no-repeat;
                    width: 51px;
                    height: 46px;
                    display: inline-block;
                    text-shadow: none;
                    position: absolute;
                    bottom: $margin;
                    right: 0;
                    overflow: hidden;
                    text-indent: -50em;
                }
            }
        }
    }
}

@media (max-width: 768px)
{
    #recruit
    {
        & > main > .row
        {
            & > article
            {
                margin-left: 0;
            }
        }
    }
}
